﻿/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #E6E6E6;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
}
a
{
    cursor: pointer;    
}
a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    text-indent: 20px;
    text-align:left;
}

code
{
    text-align: left;
    background: #f7e1bc;
}

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #393933;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.7em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.6em;
    font-weight: 600;
}

h3
{
    font-size: 1.4em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page
{
    width: 96%;
    margin: 10px auto 0px auto;
}

.header
{
    background: #465c71 url('Images/header.png') repeat-x;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: -1px 5px 20px #465c71;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #E9E9E9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.upperAds
{
    text-align:center;
    margin: 12px 135px 0 135px;
}

.content
{
    color: #393933;
    text-align: center;
    padding: 5px 12px 5px 12px;
    margin: 5px 135px 0 135px;
    min-height: 505px;
    background: #F8F8F3;
    border: 1px solid #BEBEB8;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
.adCol
{
    margin: 12px 0 0 0;
    width: 120px;
    min-height: 600px;
}
.leftCol
{
    float: left;
}
.rightCol
{
    float: right;
}

.footer
{
    font-size: x-small;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/*
Common
----------------------------------------------------------*/

.bubble
{
    margin:15px;
    padding:15px;
    background: #E6E6E6;
    border: 2px solid #BEBEB8;
    border-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
.button
{
    width:150px;
    margin: 0 2px 2px 2px;
    padding:2px 5px 2px 5px;
    background:#BACFDE;
    border:2px solid #DDDDDD;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    text-align:center;
    box-shadow: 3px 3px 10px #A7B7C2;
}
.button:hover
{
    background: #B4C1CB;
}
.button a {
    display:block;
    text-decoration: none;
}
.activebutton
{
   background: #F6F2B1;
}
.activebutton:hover
{
    background: #E8DF29;
}
.tooltip {
    position:relative;
    display:inline-block;
    text-decoration: none;
}
.tooltip span {
    display: none;
}
.tooltip:hover span {
    display: block;
    position: absolute;
    bottom:1em;
    left:-10em;
    min-width:50px;
    min-height:25px;
    z-index: 100;
    color: #393933;
    cursor: help;
    background: #E1DCC8;
    border:2px solid #CCC4A2;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    text-align:center;
    box-shadow: 3px 3px 10px #CCC4A2;
}
/*
Login Form
----------------------------------------------------------*/
.login
{
    width:300px;
    margin:auto;
}
table.login
{
    text-align:left;
}
/*
Register Form
----------------------------------------------------------*/
.register
{
    padding:10px;
    width:25em;
    margin:0 auto 15px auto;
    text-align:center
}
.serverregister
{
    width: 43.75em;
}
table.register
{
    text-align:left;
}

/*
Server listing
----------------------------------------------------------*/
table.serverListingTable
{
    margin:auto;
}
table.ServerItemTable
{
    border:1px soild rgb(211,255,216);
    table-layout:fixed;
    word-wrap: break-word;
    min-width:400px;
    width:100%;
}

.ServerListItem
{
    background-color: #E9E9E9;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 5px;
    min-width:400px;
}
.ServerListItem:hover
{
   background-color: #D3E7DB;
}
.ServerTitle
{
    width:250px;
    font-size: large;
    font-weight: bolder;
}
.ServerTitle a
{
    margin:-2px;
    padding:2px;
    color: #75ABCC;
    background-color: #E3E4E4;
    text-decoration: none;
    display: block;
    border:0px;
}
.ServerTitle a:hover
{
    color: #458EBA;
    background-color: #D3D3D3;
    text-decoration: none;
}
/**
*Sponsered Server special color.
*/
.SponseredServerListItem
{
    background-color: #FBF2B3;
}
.SponseredServerListItem:hover
{
   background-color: #F9EB86;
}
.SponseredServerTitle
{
    font-size: large;
}
.SponseredServerTitle a
{
    color: #75ABCC;
    background-color: #FFEC6D;
}
.SponseredServerTitle a:hover
{
    color: #458EBA;
    background-color: #F7DE38;
}
/**
*end special
*/
.ServerIp
{
    /*width:450px;*/
    margin:5px;
    font-size: smaller;
    text-align:left;
    cursor: pointer;
}
.ServerIp:hover 
{
    color:#3F5AD1;
    text-decoration: underline; 
}
.ServerDesc
{
    margin:5px;
    font-size: small;
}
.ServerOnlineStatus
{
    margin:5px;
}
.ServerContinent
{
    width:100px;
    margin:5px;
    font-size: smaller;
}
.ServerPlayerSlots
{
    width:70px;
    margin:5px;
    font-size: smaller;
}
.ServerTags
{
    margin:5px;
    font-size: smaller;
}
.ServerBanner {
    height:60px;
    width:468px;
    background-repeat: no-repeat;
    background-position: center;
    text-align:right;
}

.ServerNew img {
    display: inline-block;
    padding: 5px;
    position: absolute;
    left:8.9em;
    /*z-index: 99;*/
    text-align:center;
    background: #E6E6E6;
    border:2px solid #BCBCBC;
    border-right: none;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    -moz-top-left-border-radius:7px; /* Firefox 3.6 and earlier */
    -moz-bottom-left-border-radius:7px; /* Firefox 3.6 and earlier */
    text-align:center;
    box-shadow: 3px 3px 10px #BCBCBC;
}

/* Comments
----------------------------------------------------------*/
table.comment {
    width:96%;
    padding:3px;
    border-spacing: 0px;
}
.commentMsg {
    margin:0px;
    padding:0px;/* 5px 0 5px;*/
    text-indent:10px;
    overflow:auto;
    height:50px;
    max-height:250px;
    border:2px solid #BCBCBC;
    border-bottom: none;
    border-right: none;
    border-top-left-radius:5px;
    -moz-top-left-border-radius:5px; /* Firefox 3.6 and earlier */
}
.commentDate {
    font-size: small;
}
.commentDeleteButton {
    width:50px;
}

/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    float: left;
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}
div.menu li {
    position: relative;
    float: left;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/
input[type="text"]
{
    border: 2px solid #ccc;
    background-color: #F8F8F3;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
input[type="password"]
{
    border: 2px solid #ccc;
    background-color: #F8F8F3;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
input[type="checkbox"]
{
    border: 1px solid #ccc;
    background-color: #F8F8F3;
    border-radius:2px;
    -moz-border-radius:2px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
select
{
    border: 2px solid #ccc;
    background-color: #F8F8F3;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}
textarea
{
    width: 320px;
    border: 2px solid #ccc;
    background-color: #F8F8F3;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    box-shadow: 3px 3px 10px #BEBEB8;
}

/* MISC
----------------------------------------------------------*/
.social
{
    float:right;
    margin: 5px 0 0 5px;
    text-align: center;  
}
.social img 
{
    width:32px;
    height:32px;
}
.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    float:right;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.voteCookie 
{
    /*background:url("template/Styles/Images/Cookie.png");
    background-repeat: no-repeat;*/
    
}